[2021-08-31 15:21] ajayre commented on #182
Doh! Of course - many thanks for pointing my mistake out.

Does ToBeziers() always output curves of degree 3? I.e. never curves of
degree 4?

Thanks, Andy

On Tue, Aug 31, 2021 at 3:35 AM Marcel Steinbeck ***@***.***>
wrote:

[2021-08-31 15:21] ajayre commented on #118
Thanks Marcel!

On Tue, Aug 31, 2021 at 2:08 AM Marcel Steinbeck ***@***.***>
wrote:

[2021-08-31 15:29] msteinbeck commented on #182
The degree remains the same. You can decompose splines of any degree, dimension, ...

[2021-08-31 16:15] ajayre commented on #182
Sorry, I don't follow. In my example I have a Bspline with order 4. The Bezier output from ts is order 3. What input Bspline would cause ts to output Bezier's with order 4?

Thanks, Andy

[2021-08-31 20:01] msteinbeck commented on #182
Let's say you have a spline `s` with order `p`. Then `s.ToBeziers().Order == p`. Bezier decomposition **does not** change the order of the input spline. It only changes the knot vector (by increasing the multiplicity of all knots to `p`) and inserts new control points (because new knots are added) and updates existing control points so as to preserve the shape. Besides the knot vector and the cont

[2021-08-31 21:03] ajayre commented on #182
OK, thanks. I was getting confused between terms.

If I have a Bspline of order five can I use ts to decompose it to Beziers
which have an order of four or less, or is that mathematically not possible?

Thanks, Andy

On Tue, Aug 31, 2021 at 1:01 PM Marcel Steinbeck ***@***.***>
wrote:

[2021-08-31 21:46] msteinbeck commented on #182
It is possible but will probably affect the shape of your curve. Probably the easiest way is to a) decompose the spline into bezier curves and b) apply degree reduction on each of them. Using some sort of *distance* function, you could then decide whether the deviation is still within the tolerance range.

TinySpline doesn't implement degree reduction but you could try to implement it on your own

[2021-08-31 23:10] ajayre commented on #182
OK, many thanks for a great library!! Andy

On Tue, Aug 31, 2021 at 2:46 PM Marcel Steinbeck ***@***.***>
wrote:

[2021-09-01 06:53] msteinbeck commented on #182
I'm closing this issue. Don't hesitate to re-open it if necessary.

[2021-09-01 06:53] #182 closed

[2021-09-24 02:29] jingyibo123 commented on #169
This is a rather breaking change...
On Ubuntu 18.04 none of the tags or master is able to compile :(

[2021-09-24 06:35] msteinbeck commented on #169
Hi @jingyibo123,

CMake 3.12 is required because of [list(JOIN ](https://cmake.org/cmake/help/latest/command/list.html#join), which is heavily used in the CMakeLists.txt files. Which interface do you need? There are pre-compiled packages for most of the bindings. If you need the C/C++ interface, I could provide pre-compiled packages (`.deb` and `.rpm`) for them too.

[2021-09-28 09:27] jingyibo123 commented on #169
I'm using the C/C++ interface, to be honest after consistent failures of building, I noticed there is no environment description for C++ building...
It would certainly be convenient to have a .deb distribution or even APT release, though I'm not sure how much additional work is needed?

[2021-09-28 09:44] msteinbeck commented on #169
There is [BUILD.md](https://github.com/msteinbeck/tinyspline/blob/master/BUILD.md) which describes the process of building TinySpline. It also lists the requirements for the different interfaces. I have to admit though that the minimum CMake version is not listed.

There are already Github actions for building distribution packages (`jar`, `whl`, etc.). I could add another job for building a `deb`

[2021-09-28 09:47] msteinbeck opened #184 "Create deb packages via Github actions."
See https://github.com/msteinbeck/tinyspline/issues/169#issuecomment-929018226.

[2021-09-28 11:39] msteinbeck commented on #169
The CI now builds a `deb` package. You can find the package (i. e., the zip-archive which contains all packages) in the `actions` tab -> top entry -> `tinyspline`. The name of the package is `tinyspline-{version}-Linux.deb`. Please let me know whether this solves your issue.

Note: The `deb` package contains the static libraries. If needed, I could also provide a `deb` package with the shared libr

[2021-09-29 06:58] #184 closed

[2021-11-14 01:08] liufeijin commented on #125
Hi msteinbeck
Many thanks for your work on this!!!
Could you  continue  to complete S1850,S1241,S1243?
If complete these , tinyspline can replace SISL .

[2021-11-19 11:33] my88480 opened #186 "does this tool just defines a curve?"
Does this tool just defines a curve, not calculates the points' coordinates on the curve?

I have read the sources. If calculate the points,it should be involed the matrix calculation.

[2021-11-19 11:57] msteinbeck commented on #186
Hi @my88480,

there different ways to extract points on a curve:

1. `ts_bspline_eval`: Returns the "De Boor control net" at a certain knot. The result (the point on the curve) can be read with `ts_deboornet_result`.
2. `ts_bspline_eval_all`: Lets you extract several points at once. Prefer this function over multiple calls to  `ts_bspline_eval` and `ts_deboornet_result`. From the docs:

[code]

3.

[2021-11-19 12:44] my88480 commented on #186
nice,i have found:
ts_bspline_sample(const tsBSpline *spline,
                  size_t num,
                  tsReal **points,
                  size_t *actual_num,
                  tsStatus *status)

my code:
       size_t count;
	tsReal* points;

	ts_bspline_sample(&spline, 20, &points,&count,NULL);
	int k = 0;
	std::cout << sizeof(points) << std::endl;

	while (k < count)
	{
		std::cout << k <

[2021-11-19 12:58] msteinbeck commented on #186
That depends on your input spline. For me it looks like that `spline` is three-dimensional where the third component (index 2) of all control points is 0. Note that your while loop doesn't respect the dimensionality of `spline`. It should be something like this:

[code]

[2021-11-19 13:07] my88480 commented on #186
Wonderful！

I am working on the job that fitting the autocad's spline ,so i need to convert the AutoCAD's Spline into a piece of tinyspline. Would someone write a function for this.

I have learned the following issue, it seems that  some persons concern about it .
https://github.com/msteinbeck/tinyspline/issues/38

[2021-11-19 19:23] msteinbeck commented on #186
Thanks.

How do you want to convert these splines? Do you want to import dxf files into TinySpline?

[2021-11-20 09:41] my88480 commented on #186
There are many ways to import AutoCAD's spline, such as reading from memoryStream, importing from dwg/dxf.

But we just need to focus on the defination of AutoCAD's spline:

  0
SPLINE
  5
308
330
1F
100
AcDbEntity
  8
0
100
AcDbSpline
210
0.0
220
0.0
230
1.0
 70
  1064
 71
     3
 72
    13
 73
     9
 74
     7
 42
0.000000001
 43
0.0000000001
 44
0.0000000001
 40
0.0
 40
0.0
 40
0.0
 40
0.0
 40

[2021-11-20 10:27] msteinbeck commented on #186
Sounds good. I am closing this issue as your original question has been resolved. Feel free to reopen it or create a new issue.

[2021-11-20 10:27] #186 closed

[2021-11-20 10:31] my88480 opened #187 "To convert the AutoCAD's Spline into a piece of tinyspline"
There are many ways to import AutoCAD's spline, such as reading from memoryStream, importing from dwg/dxf.

We just need to focus on the defination of AutoCAD's spline:

0
SPLINE
5
308
330
1F
100
AcDbEntity
8
0
100
AcDbSpline
210
0.0
220
0.0
230
1.0
70
1064
71
3
72
13
73
9
74
7
42
0.000000001
43
0.0000000001
44
0.0000000001
40
0.0
40
0.0
40
0.0
40
0.0
40
390.5493975743106
40
677.2206757692665
40
1

[2021-11-20 12:46] msteinbeck commented on #187
I'm not sure what you are asking for in this issue. Do you request a function which allows you to import splines from dxf files (similar to `ts_bspline_parse_json`)?

[2021-11-20 17:44] my88480 commented on #187
IC

New Spline:
Type:Spline
Flags:Rational
CreationMethod:FitPoints
Degree:3
StartTangent:
EndTangent:
KnotParameterization:FitChord
CtrlPointTolerance:1E-10
FitTolerance:1E-10
KnotTolerance:1E-09
IsClosed:KnotTolerance:False
IsPeriodic:False

Fit points:
Vector 0:  1.91678852581936,  2.99813041505149,  0
Vector 1:  87.6223752947389,  384.02750505991,  0
Vector 2:  289.734029381592,  180.726494181

[2021-11-20 17:45] #187 closed

[2021-11-20 21:32] msteinbeck commented on #187
So you were able to import the spline from AutoCAD to TinySpline on your own?

[2021-11-24 08:45] my88480 commented on #187
It seems that I have imported the spline from AutoCAD to TinySpline.

But new problems come up.I open a new issue.

thank you.

[2021-11-24 08:54] my88480 opened #188 "How to get the tangent of the samples?"
It seems that the vector from control_point_1 to control_point_2 is the tangent of the start point of the splienand the vector from control_point_n-1 to control_point_n is the tangent of the end point of the spline.

Now i use the vecter from control_point_i to control_point_i+1 as the tangent of sample point i. Apparently, it is not accurate。

[2021-11-24 09:31] my88480 commented on #188
ok，i will try...

[2021-11-24 11:43] my88480 commented on #188
sorry, I am using tinysplinecsharp, can not find the proper call .

[2021-11-24 11:47] msteinbeck commented on #188
It's a method of the `BSpline` class (https://github.com/msteinbeck/tinyspline/blob/master/src/tinysplinecxx.h#L264). Use it as follows:

[code]

[2021-11-24 11:56] my88480 commented on #188
I want to get 200 sample points on the spline and their corresponding tangent, does that way is effective?

i run the code ：
BSpline deriv = spline.Derive();

I got a new spline:
![image](https://user-images.githubusercontent.com/27679123/143233726-9dcf2281-997d-4e1e-b67d-f2e3fd6e83ae.png)

If i run the code:
BSpline deriv = spline.Derive(200);

then i got a new spline:
![image](https://user-image

[2021-11-24 12:00] my88480 commented on #188
I want to fitting the spline with biarcs, so i need to get 200 or more sample points first.

[2021-11-24 12:07] msteinbeck commented on #188
`BSpline tspline= spline.Derive(200);` This calculates the 200'th derivative of `spline`. You want only the first derivative: `BSpline tspline= spline.Derive()` (the default value for `n` is 1). To get the 200 samples, call `Sample` on `tspline`: `tspline.Sample(200)`. The sampled points of `tspline` correspond to the sampled points of `spline`:

[code]

`tangents[i]` is the tangent of `points[i]`

[2021-11-24 12:08] my88480 commented on #188
wa, this sound resonable.

[2021-11-24 12:20] my88480 commented on #188
I have tried it. then got the result with 400 double-type numbers. so:

tangent of the sample point i = Math.Atan2(tangents[2*i + 1]，tangents[2*i]);

Is this correct?

[2021-11-24 12:24] my88480 commented on #188
Great！

[2021-11-24 12:24] #188 closed

[2021-11-24 12:27] msteinbeck commented on #188
Glad I could help.

[2021-12-01 08:41] my88480 opened #189 "Is there x86 version(32bit) for the nupkg tinyspline.0.3.0.1?"
the realse tinyspline.0.3.0.1.nupkg is X64（64bit）.

[2021-12-01 09:36] msteinbeck commented on #189
Hi @my88480,

there is no 32bit version for tinyspline.0.3.0.1. The C# DLL should be compiled as ANYCPU. The native library, however, is only available for 64bit. I could try to add a 32bit version for the next release.

[2021-12-01 10:36] my88480 commented on #189
Got it .

Thank you.

[2021-12-01 10:36] #189 closed

[2021-12-06 10:29] truewq opened #190 "Got burrs by calling interpolateCubicNatural method"
Hi
    I'm using tinyspline to interpolate for robot end effector way point. The following is my code:

#include "ros/ros.h"
#include "tinysplinecxx.h"
#include <nav_msgs/Path.h>

int main(int argc, char **argv)
{
  ros::init(argc, argv, "tiny_nurbs");
  ros::NodeHandle n;
  ros::Publisher path_pub = n.advertise<nav_msgs::Path>("nurbs",1, true);

  // Setup control points.
  std::vector<tinyspline

[2021-12-06 10:40] msteinbeck commented on #190
Hi @truewq,

Maybe [tinyspline::BSpline::interpolateCatmullRom](https://github.com/msteinbeck/tinyspline/blob/master/src/tinysplinecxx.h#L214) solves your issue. If `alpha` is 0.5 (the default value), the interpolated spline has no cusps (see https://splines.readthedocs.io/en/latest/euclidean/catmull-rom-properties.html#Cusps-and-Self-Intersections for more details). Could you please also visualiz

[2021-12-07 04:07] truewq commented on #190
Hi @msteinbeck

I have tried the tinyspline::BSpline::interpolateCatmullRom. It indeed solves the cusps issue, but in the same time I lose C-2 continuity of the interpolate curve. I have printed the control points, please check picture in the image:
https://pic1.zhimg.com/v2-d9d8eaccf7947d1d481fd44c6979f394_b.png

I'm wondering if the centripetal parameterization used with B-splines could solve th

[2021-12-07 08:35] msteinbeck commented on #190
The splines connecting the points to be interpolated are C-2 continuous. Only the join points (the points to be interpolated) are C-1 continuous. If you need a spline which is C-2 continuous at any point, you need to use `tinyspline::BSpline::interpolateCubicNatural`. The cusps of `tinyspline::BSpline::interpolateCubicNatural` occur when neighboring data points (the points to be interpolated) are

[2021-12-07 09:30] truewq commented on #190
@msteinbeck Thanks for your patient explanation. I will pre-process the data points and use tinyspline::BSpline::interpolateCubicNatural.

[2021-12-07 09:30] #190 closed

[2022-01-30 07:22] liufeijin commented on #125
pop

[2022-01-30 11:23] msteinbeck commented on #125
Could you provide test cases for S1850, S1241, and S1243 so that I know what you are expecting?

[2022-02-02 04:06] liufeijin commented on #125
Hi msteinbeck
For function S1850 as below
![QQ截图20220202120348](https://user-images.githubusercontent.com/19425403/152091369-5e2be755-0d70-425c-bb68-b30be6654a8f.png)
For function S1241 like as below
![clsoe](https://user-images.githubusercontent.com/19425403/152091412-e1b5a22d-0455-4d48-84c8-b8d49f4cc776.jpg)
![close b](https://user-images.githubusercontent.com/19425403/152091413-1773e0b3-80a8-4c

[2022-02-03 10:23] liufeijin commented on #125
Hi msteinbeck
Cloud you add these functions to your plan ?

[2022-02-03 10:58] msteinbeck commented on #125
Hi @liufeijin,

I already did some research. Function S1850 should be straight-forward. The other two functions are more complex. I'm not sure when I'll find the time to work on these features. Currently I'm working on the next release of TinySpline (0.4.0).

[2022-02-03 12:16] liufeijin commented on #125
Hi msteinbeck
Many thanks  for you reply.
It is big good news that you have plan on it.
SISL is just only write by c.  and it not convenient on NURBS.
Hope your project tinyspline become a great and popular project.

[2022-03-03 08:50] onslauth opened #191 "Nuget package contains DLL with wrong name?"
Hi,

I have downloaded and installed the latest `.nupkg` provided in the latest release, and when adding it to a project and trying to use, it presents the following error:
`DllNotFoundException: Unable to load DLL 'libtinysplinecsharp' or one of its dependencies: The specified module could not be found. (0x8007007E)
`

After opening the .nupkg file, it seems that it does contain DLL's, but it see

[2022-03-03 09:07] onslauth commented on #191
Thanks for the quick response.

I'll test it now and let you know how it goes.

The main reason I am looking at TinySpline is to find a C# replacement for Python's scipy.interpolate.splprep. Would you happen to know off hand if this can be done with TinySpline?

[2022-03-03 09:12] onslauth commented on #191
Hi @msteinbeck,

Using the latest package `4.0.1` found in the packages zip still produces the following error:
`DllNotFoundException: Unable to load DLL 'libtinysplinecsharp' or one of its dependencies: The specified module could not be found. (0x8007007E)`

Perhaps I should mention I am using Visual Studio 2022 and .Net 6.0.

[2022-03-03 09:15] msteinbeck commented on #191
TinySpline provides two interpolation methods. The one which comes closest to `scipy.interpolate.splprep` is `BSpline.InterpolateCubicNatural`. If you need closed (or more generally periodic) curves, cubic natural doesn't work.

[2022-03-03 09:19] msteinbeck commented on #191
DllNotFoundException: Unable to load DLL 'libtinysplinecsharp' or one of its dependencies: The specified module could not be found. (0x8007007E)

You probably need the files in `runtimes/win-x64`. Please make sure that the files `libgcc_s_seh-1.dll` and `libstdc++-6.dll` in `lib/native` are in your `PATH`.

[2022-03-03 09:56] onslauth commented on #191
I copied the all the files from the subdirectories in `runtimes/win-x64` to the `%USERPROFILE%/.nuget/packages/tinyspline/0.4.0.1/lib/netstandard2.0/` directory and this seems to resolve the issue.

[2022-03-03 10:08] msteinbeck commented on #191
To be honest, I don't have much experience with NuGet packages. If you know how to structure them correctly, feel free to open a pull request. I close this issue. If you have questions regarding spline interpolation, don't hesitate to open another issue.

[2022-03-03 10:08] #191 closed

[2022-03-08 09:37] onslauth opened #192 "Spline to XYZ coordinates"
Hi @msteinbeck,

This is not an issue, just a quick question regarding the conversion of a BSpline using InterpolateCubicNatural to XYZ coordinates.

Looking at the examples, would I use the `sample( )` function to get XYZ coordinates to plot the necessary lines to represent the spline?

[2022-03-08 10:30] msteinbeck commented on #192
Hi @onslauth,

yes, `sample` is the easiest method to plot a spline. It creates a polyline consisting of `n` points. The default value for `n` is `100`. The points are structured as follows: `[x_0, y_0, z_0, x_1, y_1, z_1, ...., x_n-1, y_n-1, z_n-1]`, given that your spline has dimensionality 3.

[2022-03-08 12:17] onslauth commented on #192
Thanks @msteinbeck for the quick response.

Is there a way to specify a distance between the points when using InterpolateCubicNatural?

At the moment I am trying to find a replacement for [SciPy's splprep](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.splprep.html), and one of the options is to specify a distance between the input points using the `u` parameter. My use ca

[2022-03-08 12:32] msteinbeck commented on #192
I don't understand this question. The points passed to `InterpolateCubicNatural` are interpolated. Do you mean the distance between the sampled points? If one of the components of the points to be interpolated is strictly monotonically increasing (I guess X always increases?), then `Bisect` may be what you are looking for. It let's you extract a point on the spline with respect to a certain compon

[2022-03-08 12:44] msteinbeck commented on #192
If I understand correctly, you want to evaluate the spline at the knots generated by `splprep` if parameter `u` is not supplied. You can create the list of knots as specified by the docs of `splprep`:

[code]
and pass this list to `EvalAll`.

[2022-03-08 13:12] onslauth commented on #192
Its a bit hard to explain, but I'll try:

The gyro returns 3 values for each point ( distance, inclination, direction ), so a dataset would look like the following:
[code]

I use the 2nd and 3rd column to calculate a new array of shape[ 3, 3 ] which is passed into `splprep` and I use the first column to pass into `splprep` as the `u` parameter.

Also Bisect seems to be exactly what I am looking fo

[2022-03-08 13:22] msteinbeck commented on #192
Great! But keep in mind that `distance` must be strictly monotonically increasing. If Bisect solves your issue, please close this issue.

[2022-03-08 13:59] msteinbeck commented on #192
The `DeBoorNet` instance returned by `Bisect` has the property `Knot`. This is the `u` corresponding to `value` passed to `Bisect`. If you would pass `Knot` to `BSpline::Eval`, you would get the same point.

[2022-03-09 08:20] onslauth commented on #192
Sorry to bother you again @msteinbeck,

It seems that I do not quite understand how `Bisect` works.

I am using the following input data:
[code]

I would now like to iterate over 0 to 350 and get the values per increment, i.e. 0, 1, 2, 3, 4.

The first 10 values from SciPy from the above is:
[code]

I am trying to use bisect as follows:
[code]
But the values it provides do not match, and I expect

[2022-03-09 08:43] msteinbeck commented on #192
There are a lot of different types of interpolation. TinySpline, currently, supports cubic natural interpolation and Catmull-Rom interpolation (with arbitrary alpha). If I understand correctly, `splprep` uses some sort of periodic interpolation. Periodic interpolation is primarily used to created closed splines (also known as splinegons). If your spline needs to be closed, neither cubic natural no

[2022-03-09 08:51] onslauth commented on #192
If I understand what you mean by closed splines, then that is not what I am looking for.

The input values represent a line with a slight curve. But the spline is required to pass through the input points.

[2022-03-09 09:17] msteinbeck commented on #192
Cubic natural interpolation creates such a spline. It is just a bit different from the spline interpolated by `splprep`.

[2022-03-09 09:53] onslauth commented on #192
But how do I get the same values out of TinySpline?

Is the above code correct to call `Bisect` to get the values at every increment?

[2022-03-09 09:56] msteinbeck commented on #192
Well, by implementing the interpolation of `splprep` in TinySpline :).

I need to see how you are calling `InterpolateCubicNatural`.

[2022-03-09 10:40] onslauth commented on #192
Variable holding the points:
[code]

Data being saved into points as:
[code]

The data in ( d, x, y, z ) formatted for readability:
[code]

And I create the spline with the following:
[code]

Currently I am iterating over 0->350 as follows ( which I expect is incorrect ):
[code]

Output from the above:
[code]

The data seems to be slightly out, just looking at the first line, and comparing that wi

[2022-03-09 11:21] msteinbeck commented on #192
From what I see, your usage of `Bisect` looks good.

I'm wondering why SciPY interpolates `2` as `[ 0.61542705 -0.31236974 -1.87714317]`. You input data says:

[code]
Based on `0 -> 0.30820827556315195` and `8 -> 0.304552451379279` there is no reason for the interpolation to map `2 -> 0.61542705`. The same is true for the remaining components.

[2022-03-09 12:41] onslauth commented on #192
SciPy's interpolation of 2 is includes the previous entries of 0 and 1 added to the value at 2.

SciPy seems to return a rolling total for every interpolation, which makes it very easy to take the data and draw 3D constructs from it, as you don't have to sum up all the points between two interpolated values.

Can you suggest any further changes that I could make to the code to get the results clos

[2022-03-09 13:34] msteinbeck commented on #192
This is not what I would call interpolation. Anyhow, SciPy is a mature library, so they know what they are doing :).

I doubt that. SciPy is using a special interpolation which is not implemented in TinySpline (yet). If you could provide the implementation details, I could have a look. As always, PRs are welcome. For now, you can only sum up the entries by your own. That said, the results will sli

[2022-03-21 07:42] msteinbeck commented on #192
I'm closing this issue. Don't hesitate to reopen it if necessary.

[2022-03-21 07:42] #192 closed

[2022-03-21 10:52] JvdBosch opened #193 "Make for Python with Documentation failed"
I'm a very experieced Python programmer, but have to admit I'm not very well versed in building C code using CMAKE. However, I did succeed in bulding a python library using these commands:
- create build folder in master folder
- cd to build folder
- cmake -DTINYSPLINE_ENABLE_PYTHON=True -DTINYSPLINE_PYTHON_VERSION=3 ..
- cmake --build . --config Release

I had to install doxygen and mkdocs (and m

[2022-03-21 11:55] msteinbeck commented on #193
Hi @JvdBosch,

after running:

[code]

you can create a package using the generated `setup.py` file:

[code]

Mkdocs is not necessary. You can create the doxygen documentation with:

[code]

You will find the generated documentation in `docs/doxygen`. That said, the documentation covers only the C API. You need to "translate" the documentation to Python. For example, the C function `ts_bspline_to_

[2022-03-21 12:43] msteinbeck commented on #193
I started to create some sort of "default uni tests" for different languages: https://github.com/msteinbeck/tinyspline/tree/master/test The Python unit tests are not yet on the same level as the unit tests of other languages. You could try to copy the tests from, for example, lua (https://github.com/msteinbeck/tinyspline/blob/master/test/lua/tests.lua) and and create a pull request.

[2022-03-24 12:28] msteinbeck commented on #193
FYI: I just released version 0.4.0. You can install it via pip.

[2022-03-29 07:48] msteinbeck opened #194 "VecX to std::vector"
Add a utility function for reading the values of a `VecX` (`X` = 2, 3, 4) as `std::vector`.

[2022-03-29 07:49] msteinbeck commented on #193
I'm closing this issue. Don't hesitate to reopen it if you have any questions.

[2022-03-29 07:49] #193 closed

[2022-04-01 16:21] #194 closed

[2022-04-03 19:00] msteinbeck commented on #110
Emacs Org with Simple.css (or a similar CSS framework) is very easy to use and the generated export (unlike MkDocs) doesn't include awkward services like Google analytics.

[2022-04-03 19:00] #110 closed

[2022-04-03 19:05] msteinbeck commented on #148
This would add additional dependencies, which I would like to avoid.

[2022-04-03 19:05] #148 closed

[2022-04-26 04:51] m-bob opened #196 "Has anyone gotten tinyspline to work on a Mac using Python in an Anaconda environment?"
I'm using Catalina (10.15.7) on an old Macbook Pro.

I got tinyspline to work in a non-Anaconda environment, using the system Python3 (/usr/local/bin/python3), otool, and install_name_tool.

I used the install from source method. Tinyspline was installed at /usr/local/lib/python3.9/site-packages/tinyspline.

I used otool -l _tinyspline.so to identify the dylib to change.
I found the name of the ne

[2022-04-26 20:45] msteinbeck commented on #196
Hi @m-bob,

I have no experience with Anaconda so I can only guess what the problem is. Is `/usr/local/Cellar/python@3.9/3.9.10/Frameworks/Python.framework/Versions/3.9` the Python version used by our Anaconda environment? You can run the following command within your Anaconda environment to get  a hint:

[code]

For more details see: https://github.com/msteinbeck/tinyspline/blob/master/.github/wo

[2022-04-26 20:51] msteinbeck commented on #196
Maybe this is related: https://github.com/ContinuumIO/anaconda-issues/issues/1172

[2022-04-26 21:05] m-bob commented on #196
Thanks, Marcel,

The example I showed was for the system Python. I could locate (and use)
the correct dylib for each Anaconda environment I tried. I don't think that
using install_name_tool is the problem.

I probably could fix the problem if I knew more about cmake. I tried
everything I could think of, but I couldn't get cmake to get my Python
environment correct. There are a bunch of potential e

[2022-04-26 21:13] m-bob commented on #196
Thanks again, Marcel!

It might be the problem but I don't think so. (It might *become* the
problem, though.) I get a different error than the one described. I get is
a segfault error and I think it's caused by cmake always insisting on using
the system Python. Since tinyspline is not being built with Anaconda, I
don't get the "compile-time" error you found. (Thanks for finding that link
-- it may

[2022-04-26 21:21] msteinbeck commented on #196
Python executable and headers. Can you help?

You can force CMake to use a specific Python header and to link against a specific library by setting the CMake variables `PYTHON_INCLUDE_DIR` and `PYTHON_LIBRARY` accordingly. For example: https://github.com/msteinbeck/tinyspline/blob/master/tools/ci/build.sh#L131 and https://github.com/msteinbeck/tinyspline/blob/master/.github/workflows/ci.yml#L220,

[2022-04-26 21:52] m-bob commented on #196
Thanks Marcel!

I'll try it. (I tried similar approaches without success.) I'm old and I
rather long for earlier days: editing a Makefile is generally easier than
using more modern tools. I know cmake generates Makefiles, but they're
extraordinarily complicated.

But I'll try editing the variables you suggest in the files you liked to.

Again, thanks!

Murray

On Tue, Apr 26, 2022 at 3:21 PM Marce

[2022-04-26 22:12] msteinbeck commented on #196
I set up Anaconda on my system (Linux) and created an environment (`py39`) with Python 3.9. My system Python is 3.10. The Anaconda environment `py39` is located at: `.conda/envs/py39`. To compile TinySpline against the Python version of `py39`, I have to run the following commands in a *fresh* build tree:

[code]
Note that `..` is due to the location of my build tree (`build` within the root direc

[2022-04-30 07:44] msteinbeck commented on #196
Could you solve your issue? If yes, please close this issue.

[2022-04-30 15:04] m-bob commented on #196
Hii Marcel,

Unfortunately not yet. I've had to put it aside for while. I'll work on it
some more.

On Sat, Apr 30, 2022 at 1:45 AM Marcel Steinbeck ***@***.***>
wrote:

[2022-04-30 18:04] msteinbeck opened #197 "Memory Leak in C#'s UniformKnotSeq"
Swig assumes that `std::vector` instances returned as pointer (`std::vector *`) are owned by the class returning the instance and therefore doesn't release the unmanaged memory in `RealVector#Dispose` (the memory is released only for properties). Currently, memory ownership is fixed by supplying `%newobject` for each affected method. However, whenever a new method is added (as it was done with `Un

[2022-04-30 18:12] msteinbeck opened #198 "Deprecate Vec<X>#norm"
I renamed `Vec<X>#norm` to `Vec<X>#normalize` because the verb fits better than the noun. Before removing `norm` entirely, it should be deprecated in the next release so that users can replace it more easily (no hard break).

[2022-04-30 18:18] msteinbeck opened #199 "Fix Name of BSpline#controlPointVec<X>At in snake_case"
In snake_case, `BSpline#controlPointVec<X>At` is `BSpline#control_point_vec_<X>at` (see `tests.py` for example). It should be `BSpline#control_point_vec<X>_at` though.

[2022-04-30 18:19] msteinbeck opened #200 "Add method Vec<X>#reflect"

[2022-04-30 18:20] msteinbeck opened #201 "Add Method Vec<X>#refract"

[2022-05-01 21:19] msteinbeck commented on #198
I could not mark `norm` deprecated in Python, Lua, and Go.

[2022-05-01 21:19] #198 closed

[2022-05-03 18:51] RookieTars commented on #166
Hi @msteinbeck, has this feature been added to release 0.4.0 yet?

[2022-05-04 07:26] msteinbeck commented on #166
Hi @RookieTars,

I have to admit that I didn't work on this feature for release 0.4.0. It will take some time to implement it. I assume it would take about one week full time (8 * 5 hours). Currently, I only have a few hours per week.

[2022-05-06 22:15] msteinbeck commented on #166
Might be relevant: https://math.stackexchange.com/questions/6941/b%C3%A9zier-to-fx-polynomial-function

[2022-05-09 23:15] msteinbeck commented on #166
I started to work on this feature. See: 7061049b480431645c1b37e7c6bd66463c903b34

[2022-05-11 08:33] #166 closed

[2022-05-11 08:35] msteinbeck commented on #196
I close this issue. Feel free to reopen it if necessary.

[2022-05-11 09:57] m-bob commented on #196
No problem. Thanks so much for your help!

On Wed, May 11, 2022 at 2:35 AM Marcel Steinbeck ***@***.***>
wrote:

[2022-05-11 16:55] Musaub7 opened #202 "Cannot insert knot in the span of first 3 control points in closed spline."
Hello @msteinbeck. I hope you are doing well. I have found loads of utility with this spline library and it's saved me a lot of time of having to write it myself. Thankyou very much for the work you have done.
I have sort of run into a problem. I might be missing out on some critical information and doing something wrong. The function insertKnot throw an error if a knot insert value (that is less

[2022-05-11 20:07] msteinbeck commented on #202
Hi @Musaub7,

I guess you are trying to insert the knot `0.045455` into a spline of degree 3. The domain of a B-Spline (i.e., the minimum knot and the maximum knot at which a spline can be evaluated) is defined by its knot vector. The minimum of the domain is equal to the knot at index `p`. The maximum of the domain is equal to the knot at index `n-p` (0-based index; `p` is the degree of the splin

[2022-05-11 20:20] msteinbeck commented on #202
Are you trying to set up the knot vector by inserting knots? I guess you rather need to create a spline with `n+p` control points and uniform knot vector (`BSpline.Opened`). Then, set the first `n` control points as needed and append the first `p` control points to the end. For example:

[code]

[2022-05-12 09:47] Musaub7 commented on #202
@msteinbeck  Thankyou for the response and I understand what you are saying. I, indeed, have created my splines, as you mentioned, by setting up `n + p` control points with the type `BSpline.Opened`. What I want to know is how I should design my spline to be able to make a uniform closed spline in which I can insert knots from domain 0.0 -> 1.0.

[2022-05-12 10:37] msteinbeck commented on #202
So if i understand correctly, you are asking the following: "Given a spline with uniform knot vector, how can I insert `n` knots into the spline so that the knot vector remains uniform after knot insertion?"

[2022-05-12 10:38] Musaub7 commented on #202
Yes.

[2022-05-12 11:03] Musaub7 commented on #202
I primarily want a uniform control points distribution. I don't care for the distribution of the knots in the resultant splines.

[2022-05-12 13:40] msteinbeck commented on #202
I'm not sure whether this is possible at all. You can only insert new control points within the domain of your spline. Moreover, I'm not sure what you mean with `uniform control points distribution`. Do you mean that the distance between neighboring control points should be equal?

[2022-05-12 14:09] msteinbeck commented on #202
I'm not sure whether this is true.

open ended clamped splines? What's that? Maybe you can:

1. Insert the control points equally within the domain of your spline.
2. Clamp the spline as follows:

[code]
3. Create a new spline from the result of 2. except that the first `p` and last `p` knots and control points are ignored. See: https://github.com/msteinbeck/tinyspline/blob/master/src/tinyspline.c

[2022-05-12 22:33] #197 closed

[2022-05-13 15:58] #199 closed

[2022-05-16 10:10] msteinbeck opened #204 "Replace FindPythonLibs with FindPython2 and FindPython3"
See #203

[2022-05-17 07:44] #204 closed

[2022-05-23 15:10] #142 closed

[2022-06-02 09:17] msteinbeck commented on #202
Could you solve your issue? If yes, please close this issue.

[2022-06-02 09:34] msteinbeck commented on #161
Done.

[2022-06-02 09:34] #161 closed

[2022-06-03 12:38] Musaub7 commented on #202
We haven't been able to get what we wanted out of it. We wanted a closed spline where we could add knots in the complete span of the spline. We have postponed this issue on our side. If you want, I can close this issue for now.

[2022-06-07 11:13] msteinbeck commented on #202
Ok, feel free to reopen it if needed.

[2022-06-07 11:13] #202 closed

[2022-06-07 18:47] sopgenorth opened #207 "Spline Curvature?"
Is it possible to get a continuous function with a spline curve representing its curvature?

Or must this be evaluated with some strategy on a point by point basis, similar to: https://stackoverflow.com/questions/56586756/find-the-radius-or-curvature-at-a-point-on-a-bspline-using-geomdl-nurbs

Or are there better ways to evaluate the curvature of a spline that anyone here might be aware of?

[2022-06-08 08:16] msteinbeck commented on #207
Note: Always consider division by 0! You should handle the case:

[code]

[2022-06-27 09:33] msteinbeck opened #208 "Include a README into the nupkg"
From nuget.org: "The package description is shown below. Please update your package to [include a README](https://docs.microsoft.com/nuget/nuget-org/package-readme-on-nuget-org)."

[2022-06-29 08:32] msteinbeck opened #209 "gemspec: Remove pre from version"
the pre part should be removed from the version specification in the gemspec so that one can install the ruby binding without specifying the `--pre` flag.

[2022-06-29 08:36] #209 closed

[2022-06-29 08:48] msteinbeck opened #210 "Add /Users/runner/hostedtoolcache to the relink.sh script"
On macOS, almost all of the libraries to which the bindings are linked are located in `/Users/runner/hostedtoolcache`. The relink script (`macosx-relink.sh`) should consider this path.

[2022-06-29 11:25] #210 closed

[2022-07-21 07:08] msteinbeck opened #211 "Link bindings on OSX (and clang) with -undefined dynamic_lookup"
This flag simulates the linkage behavior of Linux so that the bindings do not need to be linked against the libraries of the target language.

[2022-07-21 10:04] #211 closed

[2022-07-28 08:40] msteinbeck commented on #207
I'm closing this issue. Feel free to reopen it if necessary.

[2022-07-28 08:40] #207 closed

[2022-07-28 10:10] msteinbeck opened #212 "Test Lua Package on Windows"
See: https://github.com/leafo/gh-actions-lua/pull/23

[2022-09-07 08:15] aharontaam opened #213 "Simple question for C# usage"
Very simple question here:
How one can get the set of values of y's for arbitrary set of x's.
All I see is evaluate for knot values not for x's

[2022-09-07 08:24] msteinbeck commented on #213
Hi @aharontaam,

`Bisect` is probably what you are looking for. There is a C++ example: https://github.com/msteinbeck/tinyspline/blob/master/examples/cxx/time_series.cpp

Please see the C documentation for more details: https://msteinbeck.github.io/tinyspline/tinyspline_8h.html#ab595c9894abafd308ed32bbf0e50656e

[2022-09-08 23:09] Aharon-Tam commented on #213
That was quite helpful. Thanks.

I have another question.
Say I interpolate over 6-7 points of monotonously increasing curve;
1. How do I get the first 5-7 coefficients of the fitting polynomial?
2. How do I get the convexity values at a given sets of x's ?

[2022-09-09 11:33] esuig opened #214 "Question about Morphing"
Hello,
very interesting library!
I have a question: what do you mean with "morphing", maybe it is the morphing between two curves? Do you have an example of this?
Let's suppose I have two planar curves and I want to find a sort of "mean curve" morphing from a starting curve (one of the two) to the landing one; is the feature morphing you wrote in the features of the library usable for this?
 Many

[2022-09-09 11:43] msteinbeck commented on #213
We need to clarify some terms first:

Do you mean [Monotone Cubic Interpolation](https://en.wikipedia.org/wiki/Monotone_cubic_interpolation)? TinySpline doesn't provide a function for this kind of interpolation (yet). Or do you mean that you interpolated a spline with one of TinySpline's interpolation functions where the `x` component of the points to be interpolated is monotonously increasing?

P

[2022-09-09 17:27] msteinbeck commented on #214
Hi @esuig,

Yes, morphing means the transition between a source and a target spline with respect to an interpolation parameter `t` (`0 <= t <= 1`). Let's say you have two spline `source` and `target`. Then you can set up a morphism from `source` to `target` as follows:

[code]

Once a morphism is set up, you can evaluate an "intermediate" spline as follows:

[code]

Yes, the "mean curve" would be

[2022-09-10 20:43] Aharon-Tam commented on #213
1. When I say monotonic increasing function, I mean for a 2D curve the y's values are increasing for each consecutive x's.
Which can fit a n-degree polynomial such that y(x) = f(x) = a0+ a1*x + a2*x^2 + a3*x^3 + a4*x^4 + ...
I will check if the notes of b-spline coefficients that you sent me and see how far I can go with it.
2. And yes, for convexity, I meant the second derivative which it seems y

[2022-09-10 22:09] msteinbeck commented on #213
a0, a1, a2, a3, a5, ... are those coefficients that I am looking for.

Given that your spline is cubic, you can try to decompose it into a sequence of Bezier curves (see Listing 7 in our [paper](https://see.uni-bremen.de/wp-content/uploads/2021/03/TinySpline.pdf) for more details) and compute a quintic function using [Hermite interpolation](https://en.wikipedia.org/wiki/Hermite_interpolation#Quint

[2022-09-11 12:13] Aharon-Tam commented on #213
Thanks

[2022-09-11 12:37] msteinbeck commented on #213
Please note that I didn't test this approach. Your need to check whether the computed quintic function produced the same (or at least a suitable approximation) curve as your spline.

[2022-09-12 08:17] esuig commented on #214
Hello @msteinbeck,
thank you very much for your fast answer and for the explanation. I'll give it a try

[2022-09-13 06:46] bog-dan-ro opened #215 "parson conflicts with json-c library"
I'm trying to use tinyspline with other libs which depend on json-c library, but I fail to link them because parson & json-c are using the same functions names.
Is it possible to make JSON suport optional or rename parson's function or somehow hide them ?

[2022-09-13 17:37] msteinbeck commented on #215
Could you please name the affected functions? The easiest solution is to rename them (for example by adding the prefix `ts_`). In the long run, I would like to replace parson with a custom implementation anyways.

[2022-09-13 17:39] msteinbeck commented on #214
Please let me know whether TinySpline's implementation of spline morphing suites your needs. If yes, please close this issue. If not, please explain what you are expecting. Maybe your feature request can be added to TinySpline.

[2022-09-14 07:11] esuig commented on #214
Hello @msteinbeck,

I tested the spline morphing and I've been able to make it working easily thanks to your explanations. It works for me in many cases, but there are some cases in which it does not fit my needs and I want to show it to you. For example, let's suppose we have two splines like the following red and blue ones:

![morphing_test](https://user-images.githubusercontent.com/94478179/190

[2022-09-14 09:38] bog-dan-ro commented on #215
I think all `json_*` functions used by ts are clashing with json-c library.
IMHO a new compilation flag is better as most of the people that are using TS in combination with JSON will use their own library. Adding JSON parser/writer inside TS will duplicate the code size for JSON ...

[2022-09-16 15:20] msteinbeck commented on #214
I'm not sure about that. The morphing is implemented as a simple interpolation between the control points and knots of the source and target spline (after they have been aligned). It might be possible to fix some cases, but creating an interpolation that generates splines that never intersects the input splines and that is not self-intersecting might be impossible. I found the following paper: htt

[2022-09-16 15:25] msteinbeck commented on #215
The same could be true with, for example, TinySpline's vector functions. Yet, I would like to avoid adding various compilation flags to enable or disable certain features. As I said, in the long run I would like to implement JSON serialization directly in TinySpline.

TinySpline's JSON parser would only need a very small subset of general JSON parser libraries. For example, only numbers and array

[2022-09-16 15:32] esuig commented on #214
Thank you very much for your time and answer. Do you think your library could be modified adding th features of the paper you suggested me? if yes could you please point me to the files I should work on? I would like to this possibility a chance

By the way do you prefer I close the issue or I should leave it open in case you (or me) decide to work on the issue in the future?
Maybe I should close

[2022-09-16 15:38] #214 closed

[2022-09-16 15:41] msteinbeck commented on #214
Generally it should be possible. But I have no idea how to. Please send me a mail to tinyspline@retux.de. I'll send you a paper of my own which I cannot make public yet. It contains some information about our morphing.

[2022-09-18 13:06] msteinbeck commented on #213
Could you solve your issue? If yes, please close this issue.

[2022-09-18 16:52] Aharon-Tam commented on #213
Yes, issued solved.

[2022-09-18 17:01] msteinbeck commented on #213
Are you using quintic Hermite interpolation? Does it produce the same output as your spline?

[2022-09-20 16:11] msteinbeck opened #217 "Tension: Spline with only one control point"
If a spline has only one control point, `tension` creates a spline whose control point is `nan`.

[2022-09-29 08:59] oniliste opened #219 "Failed to build on Visual Studio 2015"
please refer the  error message below:

D:\Code\tinyspline\src\tinysplinecxx.cxx(999): error C2220: warning treated as error - no 'object' file generated [D:\Code\tinyspline.build\src\tinysplinecxx.vcxproj]

[2022-09-29 10:46] msteinbeck commented on #219
You can disable warnings as errors by setting `TINYSPLINE_WARNINGS_AS_ERRORS` to `OFF`:

[code]

It looks like MSVC 2015 reports a warning when trying to implicitly convert an `int` to a `bool`. I can fix this. However, adding a test to our pipeline might be difficult.

[2022-09-30 00:35] oniliste commented on #219
Thank you! It works.

[2022-09-30 00:35] #219 closed

[2022-10-11 07:48] m-bob commented on #196
Hi Marcel,

With your help I'm making progress. But I'm not there yet.

I think you fixed the cmake problem for me: thank you!

Following your instructions, I tried

cmake .. -DCMAKE_BUILD_TYPE=Release -DTINYSPLINE_ENABLE_PYTHON=True
-DPYTHON_INCLUDE_DIR=/Users/murray/opt/anaconda3/include/python3.8
-DPYTHON_LIBRARY=/Users/murray/opt/anaconda3/lib/libpython3.8.dylib

and that appears to work. (No

[2022-10-11 18:52] msteinbeck commented on #196
Hi @m-bob,

I probably solved your issue with this commit: a00e6e7. It changes how bindings on OSX are linked. Before this commit, the native library of a binding dynamically links to the runtime library of the target language (`libpython3.8.dylib` in your case). Now the missing symbols are resolved at runtime (see `-undefined dynamic_lookup`). Please pull into your clone the latest master and rec

[2022-10-11 20:31] m-bob commented on #196
Thank you! I'll try to try it this weekend. I'll let you know how it goes.

Again, thanks!

On Tue, Oct 11, 2022 at 12:52 PM Marcel Steinbeck ***@***.***>
wrote:

[2022-10-11 20:45] m-bob commented on #196
Just a strange note. I re-read the thread on this issue to refresh my
memory, and I saw that Github reports that I sent a message 13 hours ago
that starts

Hi Marcel, With your help I'm making progress. But I'm not there yet. I
think you fixed the cmake problem for me: thank you! Following your
instructions, I tried
I didn't send that note recently. It reads like me, so I must have sent it,
but th

[2022-10-18 17:19] mmoelle1 opened #220 "Wrong evaluation of fourth derivative"
I just started using TinySpline as a reference implementation in my unit tests. I guess that there is a small error in the evaluation of the fourth derivative. Let the following be the JSON string representing the univariate spline
[code]
Then the line
[code]
evaluates to -729.167 but it should evaluate to -26.0417.

[2022-10-18 17:23] msteinbeck commented on #220
Hi @mmoelle1,

thank you for your report. I'll have a look.

[2022-10-18 17:51] msteinbeck commented on #220
If you derive a spline of degree `4` four times, you get a spline of degree `0` (which is basically a sequence of points; the sequence of points matches exactly the sequence of the control points of the spline). Let's have a look at the control points and knots of your derivative:

Control Points:
[code]
Knots:
[code]

You evaluate the spline at a split point (knot = `0.2`)---that is, the spline i

[2022-10-24 07:20] msteinbeck commented on #220
@mmoelle1: Could I solve your issue? If yes, please close this issue.

[2022-11-09 18:51] Seanmatthews opened #221 "[question] Equality operator?"
Are you adverse to a PR that provides a bspline equality operator?

[2022-11-12 18:17] msteinbeck commented on #221
Hi @Seanmatthews,

sorry for the delay. I had a lot of work in the last days.

I'm glad to hear that you want to contribute. However, I have concerns that we can find a good definition of B-Spline equality:

1. Are splines of equal shape equal according to an equality operator? And/Or
2. Do they need to be of the same degree? And/Or
3. Do they need to have the same control points? And/Or
4. Do the

[2022-11-14 15:18] msteinbeck opened #222 "Infinite loop when evaluating spline at "min(domain) - epsilon""
Example:

[code]

[2022-11-16 07:02] areyougoodmalaysia opened #223 "question about chordlength"
Dear msteinbeck：
l want use ChordLength to parameterize my bspline;
but i cannot find example；
can you write a exmaple for me?
I use C++;
thank you very much

[2022-11-16 07:40] msteinbeck commented on #223
Hi @areyougoodmalaysia,

you can map a length or a relative proportion (`t`) of the total length (`arc_length`) of a spline to a knot as follows:

[code]

The default argument of `chordLenghts()` is `200`, which provides a pretty precise approximation. If needed, you can also pass higher values (e.g., 500). For more details, please see the C documentation:

- https://msteinbeck.github.io/tinysplin

[2022-11-16 07:53] areyougoodmalaysia commented on #223
thank you very much;
actually，I use  function "interpolateCubicNatural"
this function use uniform knots;
can I use chordlength  parameterize a new bspline?

[2022-11-16 08:35] msteinbeck commented on #223
No this is not implemented by TinySpline. Do you have any resources from which I can get an idea how to implement this?

[2022-11-16 08:40] areyougoodmalaysia commented on #223
thank you very much!
I will research how to  implement this!

[2022-11-16 09:40] #222 closed

[2022-11-25 22:35] ajayre opened #224 "Decompose Bspline"
Hi, I have a Bezier curve of degree five

[code]

I need to break this up into Bezier curves of degree three or less. What do I need to call? Note that I am using the C# bindings generated by swig (which I don't really understand).

I see there is `ts_bspline_to_beziers` and this appears in the namespace `TinySpline.tinysplinecsharp` but how do I call it? Is there an example? Is it even the right

[2022-11-28 09:19] msteinbeck commented on #224
Hi @ajayre,

You cannot reduce the degree of a spline with `ToBeziers()`. `ToBeziers()` simply "cuts" the spline into a sequence of connected Bezier curves where each Bezier curve has the same degree as the spline on which `ToBeziers()` was called. Degree reduction is not (yet) implemented in TinySpline. I did some research in the past and found the following paper: https://www.academia.edu/784383

[2022-11-28 23:25] ajayre commented on #224
Thanks for the pointer.